# Flutter App Configuration
API_BASE_URL=http://localhost:8000

# Firebase
FIREBASE_API_KEY=[GCP_API_KEY]
FIREBASE_APP_ID=1:855042519396:web:714f50e453683308c496d0
FIREBASE_MESSAGING_SENDER_ID=855042519396
FIREBASE_PROJECT_ID=lifecapture-38a4f
FIREBASE_STORAGE_BUCKET=lifecapture-38a4f.firebasestorage.app
